
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d2cfcf;
    color:  rgb(0, 0, 0);
}
#jj{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
     background-color:  rgb(0, 0, 0); 
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(170,49,131,1) 16%, rgba(182,46,116,1) 21%, rgba(192,44,104,1) 25%, rgba(204,41,89,1) 30%, rgba(216,38,74,1) 35%, rgba(236,33,50,1) 43%, rgba(253,29,29,1) 50%, rgba(253,67,39,1) 63%, rgba(253,82,43,1) 68%, rgba(253,94,46,1) 72%, rgba(253,112,51,1) 78%, rgba(253,132,57,1) 85%, rgba(253,144,60,1) 89%, rgba(253,159,64,1) 94%, rgba(253,159,64,1) 94%, rgba(252,176,69,1) 100%); */
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

#logo {
    width: 80px;
    position: absolute;
    left: 20px;
    top: 10px;
}

h1 {
    margin: 0;
    padding: 0;
}

h2, h3 {
    color:  white;
}

section {
    padding: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

form label i {
    margin-right: 10px;
    color:   rgb(0, 0, 0);
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:  rgb(0, 0, 0);
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(170,49,131,1) 16%, rgba(182,46,116,1) 21%, rgba(192,44,104,1) 25%, rgba(204,41,89,1) 30%, rgba(216,38,74,1) 35%, rgba(236,33,50,1) 43%, rgba(253,29,29,1) 50%, rgba(253,67,39,1) 63%, rgba(253,82,43,1) 68%, rgba(253,94,46,1) 72%, rgba(253,112,51,1) 78%, rgba(253,132,57,1) 85%, rgba(253,144,60,1) 89%, rgba(253,159,64,1) 94%, rgba(253,159,64,1) 94%, rgba(252,176,69,1) 100%); */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button i {
    margin-right: 8px;
}

button:hover {
     background-color:   rgb(30, 224, 81); 
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(170,49,131,1) 16%, rgba(182,46,116,1) 21%, rgba(192,44,104,1) 25%, rgba(204,41,89,1) 30%, rgba(216,38,74,1) 35%, rgba(236,33,50,1) 43%, rgba(253,29,29,1) 50%, rgba(253,67,39,1) 63%, rgba(253,82,43,1) 68%, rgba(253,94,46,1) 72%, rgba(253,112,51,1) 78%, rgba(253,132,57,1) 85%, rgba(253,144,60,1) 89%, rgba(253,159,64,1) 94%, rgba(253,159,64,1) 94%, rgba(252,176,69,1) 100%); */
}

#result {
    margin-top: 20px;
    display: none; /* Hidden initially */
    padding: 15px;
    background-color: #e7f3fe;
    border-left: 6px solid  rgb(0, 0, 0);
}

#result h3 {
    margin: 0;
}

footer {
    background-color:  rgb(0, 0, 0);
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(170,49,131,1) 16%, rgba(182,46,116,1) 21%, rgba(192,44,104,1) 25%, rgba(204,41,89,1) 30%, rgba(216,38,74,1) 35%, rgba(236,33,50,1) 43%, rgba(253,29,29,1) 50%, rgba(253,67,39,1) 63%, rgba(253,82,43,1) 68%, rgba(253,94,46,1) 72%, rgba(253,112,51,1) 78%, rgba(253,132,57,1) 85%, rgba(253,144,60,1) 89%, rgba(253,159,64,1) 94%, rgba(253,159,64,1) 94%, rgba(252,176,69,1) 100%); */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

